body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: darkkhaki;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    padding: 16px;
    border: 5px solid black;
    border-radius: 15px;
    background-image: linear-gradient(whitesmoke,darkgray);
}


.btn {
    margin: 6px;
    padding: 16px;
    font-size: 16px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
    outline-style: ridge;
}

#display {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 50px;
    grid-column: 1 / 5;
    grid-row: 1 / 5;
    background-color: white;
}
