body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 16px;
    border: 1px solid black;
}

.grid-item {
    padding: 16px;
    font-size: 16px;
    text-align: center;
    outline: 1px solid gray;
}

#display {
    min-height: 50px;
    grid-column: 1 / 5;
    grid-row: 1 / 5;
}

#clear {
    grid-column: 1;
    grid-row: 5;
}

#undo {
    grid-column: 2;
    grid-row: 5;
}

#divide {
    grid-column: 3;
    grid-row: 5;
}

#multiply {
    grid-column: 4;
    grid-row: 5;
}

#seven {
    grid-column: 1;
    grid-row: 6;
}

#eight {
    grid-column: 2;
    grid-row: 6;
}

#subtract {
    grid-column: 4;
    grid-row: 6;
}

#nine {
    grid-column: 3;
    grid-row: 6;
}

#four {
    grid-column: 1;
    grid-row: 7;
}

#five {
    grid-column: 2;
    grid-row: 7;
}

#six {
    grid-column: 3;
    grid-row: 7;
}

#add {
    grid-column: 4;
    grid-row: 7;
}

#one {
    grid-column: 1;
    grid-row: 8;
}

#two {
    grid-column: 2;
    grid-row: 8;
}

#three {
    grid-column: 3;
    grid-row: 8;
}

#zero {
    grid-column: 1 / 3;
    grid-row: 9; 
}

#decimal {
    grid-column: 3;
    grid-row: 9;
}

#equals {
    grid-column: 4;
    grid-row: 8 / 10;
}